# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key

# Admin Credentials (for initial setup)
ADMIN_EMAIL=admin@wallpaper-vault.com
ADMIN_PASSWORD=admin_password_123
